@media (max-width: 1000px) {
  body {
    background: url(/src/images/bg-mobile.svg) no-repeat top/contain;
    background-color: var(--violet);
    
  }
  .main-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .main-container .about {
    align-items: center;
    text-align: center;
  }
  .main-container .about h1 {
    font-size: 2.5rem;
  }
  .main-container .about p {
    font-size: 1.7rem;
  }
  .main-container .about .btn-register {
    text-align: center;
    padding: 15px 90px;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }
  .footer .social {
    margin-right: 0;
  }
}
@media (max-width: 400px) {
    body {
      background: url(/src/images/bg-mobile.svg) no-repeat top/cover;
      background-color: var(--violet);
      max-width: var(--mobile);
    }
    .main-container {
      height: auto;
    }
    .main-container .about {
      align-items: center;
      text-align: center;
    }
    .main-container .about h1 {
      font-size: 2rem;
    }
    .main-container .about p {
      font-size: 1.2rem;
    }
    .main-container .about .btn-register {
      text-align: center;
      padding: 15px 40px;
      font-size: 1.2rem;
    }
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .footer .social {
      margin-right: 0;
    }
  }